aiofiles==24.1.0
aiohttp==3.10.3
asyncio==3.4.3
gitpython==3.1.43
httpx==0.25.0
motor==3.6.0
ntgcalls==1.3.0b3
pillow==9.5.0
py-tgcalls==2.1.0.dev2
python-dotenv==1.0.1
tgcrypto==1.2.5
youtube-search-python
yt-dlp==2024.11.18
git+https://github.com/PyrogramMod/PyrogramMod.git
